$primary-color: #F5C618;
$secondary-color: #A5A5A5;
$terciary-color: #D9D9D9;
$dark: #212121;
$background: #fff;
$backgroundSecondary: #FCED8C;
$backgroundTertiary: #F9DB4B;
$backgroundQuaternary: #9E5F0A;
$backgroundDark: #411f07;


$secondaryText: #64748B;
$terciaryText: #FDF7C4;
$borderColor: #E4E4E7;